<!-- Aqui va todo el contenido de la pagina principal -->
<div class="fondoStatic">
  <div class="logoInicio">
    <img src="../../../assets/logoRazorSinNegroBanner1.png" alt="logo" />
  </div>
  <div class="">
    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="../../../assets/fondoMenu.png"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="../../../assets/fondoMenu.png"
            class="d-block w-100"
            alt="..."
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="intro text-center">
    <span
      >Después de tener un accidente en barco y quedar a la deriva, despiertas
      en una peculiar isla.</span
    >
    <span>¿Tienes lo necesario para poder sobrevivir?</span>
  </div>

  <div style="padding-bottom: 500px"></div>
</div>