.fondoStatic {
  background-image: url(../../../assets/fondoStatic.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.logoInicio {
  z-index: 50;
  position: absolute;
  margin-left: 50%;
  transform: translateX(-50%);
}
.logoInicio img {
  width: 50vw;
}

.intro {
  background-color: #1e1e1e;
  display: grid;
  padding: 1.2vh 0px;
}
.intro span {
  font-size: 20px;
  align-self: center;
  justify-self: center;
  font-weight: bold;
}
@media(min-width:779px){
    .intro span {
        font-size: 28px;
      }
}
.intro span:nth-child(1) {
  color: #fbc36a;
}
.intro span:nth-child(2) {
  color: #b0771c;
}