<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="title">Sobre Nosotros</span>
                        <h2>Startup española de ropa</h2>
                    </div>
                    <div class="text">Somos un grupo de jóvenes universitarios de Bilbao que hemos decidido crear una 
                        tienda de ropa online "OddFox". En ella disponemos de ropa básica
                        con el logo de la marca  y el nombre de la misma. Para el desarrollo de nuestra página web,
                        hemos contado con un grupo de programadores del Centro de Formación Somorrostro que, siguiendo nuestros
                        criterios, han colaborado en el desarrollo de la misma.</div>
                    <ul class="list-style-one">
                        
                    </ul>
                    <div class="btn-box">
                        <a class="theme-btn btn-style-one" (click)="goToPage('contact')">Contáctanos</a>
                    </div>
                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column wow fadeInLeft">
                    <figure class="image-1"><a class="lightbox-image" data-fancybox="images"><img src="/assets/img/bilbao.png" alt=""></a></figure>
                    <figure class="image-2"><a class="lightbox-image" data-fancybox="images"><img src="/assets/img/logo-270x270.png" alt=""></a></figure>
                </div>
            </div>
        </div>
    </div>
</section>