<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>    
</head>

<div class="container animated fadeIn">

  <div class="row">
    <h1 class="header-title"> Contáctanos </h1>
    <hr>
    <div class="row col-sm-12" id="parent">
    	<div class="col-sm-6">
    	<iframe width="100%" height="300px;" frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d46486.912902853604!2d-2.9335644!3d43.26332349999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4e4e27664b89b9%3A0x6534acc41e95a645!2sBilbao%2C%20Vizcaya!5e0!3m2!1ses!2ses!4v1653585996985!5m2!1ses!2ses" allowfullscreen></iframe>
    	</div>

    	<div class="col-sm-6">
    		<form class="contact-form" method="post">
	
		        <div class="form-group mb-2">
		          <input type="text" class="form-control" id="name" name="nm" placeholder="Nombre" required="" autofocus="">
		        </div>
		    
		    
		        <div class="form-group form_left mb-2">
		          <input type="email" class="form-control" id="email" name="em" placeholder="Email" required="">
		        </div>
		      <div class="form-group mb-2">
		      <textarea class="form-control textarea-contact" rows="5" id="comment" name="FB" placeholder="Escribe aquí tu mensaje..." required=""></textarea>
		      <br>
	      	  <button class="btn btn-secondary btn-send"> Enviar <span class="glyphicon glyphicon-send"></span>  </button>
		      </div>
     		</form>
    	</div>
    </div>
  </div>

  <div class="container second-portion">
	<div class="row">
    	<div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="box">							
				<div class="icono">
					<div class="image"><i class="fa fa-envelope" aria-hidden="true"></i></div>
					<div class="info">
                        <br>
						<h3 class="title">MAIL</h3>
						<p>
							<i class="fa fa-envelope" aria-hidden="true"></i>oddfox.info@gmail.com
							<br>
							<br>
						</p>
					
					</div>
				</div>
				<div class="space"></div>
			</div> 
		</div>
			
        <div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="box">							
				<div class="icono">
					<div class="image"><i class="fa fa-mobile" aria-hidden="true"></i></div>
					<div class="info">
                        <br>
						<h3 class="title">CONTACTO</h3>
    					<p>
							<i class="fa fa-mobile" aria-hidden="true"></i>(+34)-999999999
							<br>
							<br>
						</p>
					</div>
				</div>
				<div class="space"></div>
			</div> 
		</div>
			
        <div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="box">							
				<div class="icono">
					<div class="image"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
					<div class="info">
                        <br>
						<h3 class="title">DIRECCIÓN</h3>
    					<p>
							 <i class="fa fa-map-marker" aria-hidden="true"></i> Bilbao, España
						</p>
					</div>
				</div>
				<div class="space"></div>
			</div> 
		</div>		    
	</div>
</div>
</div>