.bg-pers {
  position: sticky;
  top: 0;
  background-color: #0b0b0beb;
  z-index: 100;
}

.navbar-brand img {
  max-width: 15vh;
  min-width: 128px;
}
.nav-link {
  font-size: 1.3rem;
  color: white !important;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}
.nav-link.active {
  color: #aa8ad0 !important;
}
.nav-link:hover {
  border-bottom: 2px solid white;
}
