<div
  class="offcanvas offcanvas-end bgPersLight"
  data-bs-scroll="true"
  data-bs-backdrop="false"
  tabindex="-1"
  id="offcanvasScrolling"
  aria-labelledby="offcanvasScrollingLabel"
>
  <div class="offcanvas-header">
    <h3 class="offcanvas-title mt-3" id="offcanvasScrollingLabel">
      Contáctanos:
    </h3>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <form class="needs-validation was-validated">
      <div class="col-12">
        <label for="validationServer01" class="form-label"
          >Nombre y apellido</label
        >
        <input
          type="text"
          class="form-control is-valid"
          placeholder="Leonardo Silvestre"
          required=""
        />
      </div>

      <div class="col-12 mt-3">
        <label for="validationServer01" class="form-label">Correo</label>
        <input
          type="text"
          class="form-control is-valid"
          placeholder="usuario@razork.com"
          required=""
        />
      </div>

      <div class="mt-3">
        <label for="validationTextarea" class="form-label"
          >¿Que nos quieres decir?</label
        >
        <textarea
          class="form-control is-invalid"
          id="validationTextarea"
          placeholder="Érase una vez..."
          required=""
        ></textarea>
      </div>

      <div class="form-check mt-3">
        <input
          type="checkbox"
          class="form-check-input"
          id="validationFormCheck1"
          required=""
        />
        <label class="form-check-label" for="validationFormCheck1"
          >He leído y acepto la Política de Privacidad</label
        >
      </div>

      <div class="mt-3">
        <button class="btn btn-dark col-12" type="submit">Mandar carta</button>
      </div>
    </form>
  </div>
</div>
