<header class="p-3 cyan text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <!--<li><img id="marca" src="/assets/img/logo-16x16.png" alt="OddFox"></li>-->
        <li><a href="#" id="marca" class="nav-link px-1">OddFox</a></li>
        <li><a href="#" class="nav-link px-2 text-secondary">Inicio</a></li>
        <li>
          <a href="#" class="nav-link px-2 text-white">Productos</a>
          <ul class="dropdown">
              <li><a href="#">Todos los productos</a></li>
              <li><a href="#">Camisetas</a></li>
              <li><a href="#">Sudaderas</a></li>
              <li><a href="#">Pantalones</a></li>
              <li><a href="#">Otros</a></li>
          </ul> 
        </li>
        <li><a href="#" class="nav-link px-2 text-white">Sobre nosotros</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Contacto</a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
      </form>

      <div class="text-end">
        <button type="button" class="btn btn-warning me-2" (click)="goToPage('login')">Login</button>
        <button type="button" class="btn btn-warning" (click)="goToPage('signup')">Sign-up</button>
      </div>
    </div>
  </div>
</header>