<div class="fondoStatic pt-1 pb-2">
  <div class="container bg-page px-5 pt-4 pb-5 my-3 rounded">
    <div class="filtros">
      <button class="btn rounded-pill">Interfaz</button>
      <button class="btn rounded-pill">Jugabilidad</button>
      <button class="btn rounded-pill">NPC</button>
      <button class="btn rounded-pill">Diseño</button>
      <button class="btn rounded-pill">General</button>
    </div>
    <div
      *ngFor="let noticia of noticias"
      class="noticia container bg-dark p-5 mt-3 text-light rounded"
    >
      <div class="row">
        <div class="info col-12 col-md-6 col-lg-7 col-xl-8">
          <h3>{{ noticia.titulo }}</h3>
          <p class="fecha text-muted">
            {{ noticia.fecha }}
          </p>
          <p class="pt-1">
            {{ noticia.parrafo }}
          </p>
        </div>
        <div class="imagen col-12 col-md-6 col-lg-5 col-xl-4">
          <img src="{{ noticia.src }}" class="rounded" />
        </div>
      </div>
    </div>
  </div>
</div>
