.fondoStatic {
  background-image: url(../../../assets/fondoStatic.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.imagen img {
  max-height: 200px;
  max-width: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
}

.row {
  padding: 0 !important;
  margin: 0 !important;
}

.bg-page{
  background-color: rgb(24, 27, 30);
}

.filtros > button{
  margin-right: 10px;
  padding: 0px 20px;
  border: 2px solid #aa8ad0;
  font-weight: 600;
  color: #aa8ad0;
  background-color: transparent;
  transition: 0.2s;
}
.filtros > button:hover{
  background-color: #aa8ad0;
  color: white;
}