.titles{
    color:white;
}
.sectionLinks{
    display: flex;
    background-color: #1f2021;
}

.socialMedia{
    background-color: #1f2021;
}

.d-flex{
    background-color: #1f2021;
}

.text-center{
    background-color: #1f2021;
}

.text-reset{
    text-decoration: none;
}
.location{
    display: inline-block;
    margin-left: 70%;
}

footer{
    display: flex;
    flex-direction: column;
}